<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YouTube mp3 downloader(using youtube-dl)</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/sakura.css">
</head>

<body>
    <header>
        <h3>MP3 from YouTube videos</h3>
    </header>

    <%def name="form()">
        <form method='post' action='/'>
            <p>Enter YouTube url</p>
            <input type='text' placeholder='Enter url' name='url'>
            <input type="submit" value="Submit">
        </form>
    </%def>

    <article>
        % if error:
            <code>
            The url was invalid
            Please enter valid url.
            Examples:
            https://www.youtube.com/watch?v=T5Xl0Qry-hA
            https://youtu.be/B_Vs37KtNpE
            </code>
            <p></p>
            ${form()}
        % else:
            % if download:
                <p>Here is your download link :D</p>
                <p><a href="download/${link}" download="${dwname}">Click me</a></p>
                <p>Download another mp3!</p>
                ${form()}
            % else:
                ${form()}
            % endif
        % endif
    </article>

    <footer>
        <p>&copy; Copyright 2016 <a href="https://github.com/vatsalp" title="Github Profile">Vatsal Parekh</a></p>
    </footer>
</body>

</html>